.item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.8rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.144);
}

.item figure img {
  width: 3.2rem;
}

.itemContent {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.itemName {
  text-align: start;
  font-size: 1.2rem;
}

.button {
  border: none;
  background: transparent;
  width: 2rem;
  cursor: pointer;
}
