* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f7f4f4;
  font-family: "Quicksand", sans-serif;
}

.layout {
  display: flex;
}
